<footer class="footer">
  <ul class="list">
    <li>
      <ul>
        <li>
          <ul>
            <li>
              <ul>
                <li>
                  <ul>
                    <li>
                      <ul>
                        <li>
                          <ul>
                            <li>
                              <ul>
                                <li>
                                  <ul>
                                    <li>
                                      <ul>
                                        <li>
                                          <ul>
                                            <li>
                                              <ul>
                                                <li>
                                                  <ul>
                                                    <li>Ky</li>
                                                  </ul>
                                                </li>
                                              </ul>
                                            </li>
                                          </ul>
                                        </li>
                                      </ul>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</footer>
