<footer class="footer">
  <ul class="list">
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
    <ul>
      Ky
    </ul>
  </ul>
</footer>
