<section>
  <h2>Gallery</h2>
  <ul>
    <li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum optio
        distinctio quaerat beatae enim officia id eius repudiandae labore fugit
        officiis adipisci veritatis, animi excepturi!
      </p>
    </li>
    <li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum optio
        distinctio quaerat beatae enim officia id eius repudiandae labore fugit
        officiis adipisci veritatis, animi excepturi!
      </p>
    </li>
    <li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum optio
        distinctio quaerat beatae enim officia id eius repudiandae labore fugit
        officiis adipisci veritatis, animi excepturi!
      </p>
    </li>
    <li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum optio
        distinctio quaerat beatae enim officia id eius repudiandae labore fugit
        officiis adipisci veritatis, animi excepturi!
      </p>
    </li>
    <li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum optio
        distinctio quaerat beatae enim officia id eius repudiandae labore fugit
        officiis adipisci veritatis, animi excepturi!
      </p>
    </li>
  </ul>
</section>
